.market-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.market-title {
  text-align: left;
  padding: 1rem;
  max-width: 50%;
}

.market-image-block {
  padding: 1rem;
}
.market-image {
  padding-top: 3rem;
}
